docs/build/
docs/source/telechargements.rst
docs/source/generated.py

sdk/cpp/build
sdk/cpp/example/build

**.pyc
sdk/python/config.yml
sdk/python/testconfigs
/sdk/python/.pydevproject
/sdk/python/.settings
/sdk/python/.project
/sdk/python/stm/__pycache__
.settings
/.cproject
/.project
/.pydevproject
__pycache__

/.externalToolBuilders
