docs/build/
docs/source/*.pyc
docs/source/rhoban/*.pyc
docs/source/telechargements.rst
docs/source/generated.py

sdk/cpp/build
sdk/cpp/example/build

sdk/python/rhoban/*.pyc
sdk/python/rhoban/*/*.pyc
sdk/python/sockets/*.pyc
sdk/python/config.yml
