<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <command_store_filename>commands.xml</command_store_filename>
  <robot_spec_filename>joints.xml</robot_spec_filename>
  <lowlevel_config_filename>LowLevelConfig.xml</lowlevel_config_filename>
  <robot_config_filename>MoveSchedulerConfig.xml</robot_config_filename>
  <port>12345</port>
  <ip>192.168.16.23</ip>
  <known_ips>
    <string>127.0.0.1</string>
    <string>192.168.16.23</string>
  </known_ips>
  <monitor_frequency>5</monitor_frequency>
  <monitor_error_frequency>1</monitor_error_frequency>
  <splineModelerCloudWidth>30</splineModelerCloudWidth>
  <maxPointsNbToDraw>400</maxPointsNbToDraw>
  <splineModelerMonitorFrequency>5</splineModelerMonitorFrequency>
  <ErrorPopup>true</ErrorPopup>
  <LogAllMsgs>false</LogAllMsgs>
  <AutoConnect>true</AutoConnect>
  <UseLocalisation>false</UseLocalisation>
  <UseVision>false</UseVision>
</Settings>